<p>products-list works!</p>

<div class="row">
  <div class="col-md-3">
    <div class="card">
      <img src="/assets/shoes1.jpg" height="250" width="100" alt="Denim Jeans" style="width:100%">
      <h1>Shoes</h1>
      <p>OFF LIMITS Men's Wembley Big and Tall Running Shoes, Sports Shoes, Specially Developed for Plus Size, Big Feet & Big Size, UK-12-14</p>
      <p class="price">$19.99</p>
      <div>
        <span class="fa fa-lg fa-star checked"></span>
        <span class="fa fa-lg fa-star checked"></span>
        <span class="fa fa-lg fa-star checked"></span>
        <span class="fa fa-lg fa-star checked"></span>
        <span class="fa fa-lg fa-star"></span>
      </div>
      <p><button class="btn4">Buy Now</button></p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img src="/assets/earphone.jpg" height="250" width="100" alt="Denim Jeans" style="width:100%">
      <h1>Earphone</h1>
      <p>truke [Just Launched Buds Q1 Lite True Wireless Earbuds with 48H Playtime, Crystal-Clear Calls, Fast Charging, Elegant Royal Design, Bluetooth 5.4, Noise Cancellation</p>
      <p class="price">$19.99</p>
      <div>
        <span class="fa fa-lg fa-star checked"></span>
        <span class="fa fa-lg fa-star checked"></span>
        <span class="fa fa-lg fa-star checked"></span>
        <span class="fa fa-lg fa-star checked"></span>
        <span class="fa fa-lg fa-star"></span>
      </div>
      <p><button class="btn2">Buy Now</button></p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img src="/assets/Applewatch.jpg" height="250" width="100" alt="Denim Jeans" style="width:100%">
      <h1>Watch</h1>
      <p>Noise Twist Round dial Smart Watch with Bluetooth Calling, 1.38" TFT Display, up-to 7 Days Battery, 100+ Watch Faces, IP68, Heart Rate Monitor, Sleep Tracking (Jet Black)</p>
      <p class="price">$19.99</p>
      <div>
        <span class="fa fa-lg fa-star checked"></span>
        <span class="fa fa-lg fa-star checked"></span>
        <span class="fa fa-lg fa-star checked"></span>
        <span class="fa fa-lg fa-star checked"></span>
        <span class="fa fa-lg fa-star"></span>
      </div>
      <p><button class="btn3">Buy Now</button></p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img src="/assets/iphone14.jpg" alt="Denim Jeans" height="250" width="100" style="width:100%">
      <h1>Mobile</h1>
      <p>Apple iPhone 15 Pro Max (256 GB) - Natural Titanium. FORGED IN TITANIUM iPhone 15 Pro Max has a strong and light aerospace-grade titanium design with a textured matte-glass back.</p>
      <p class="price">$19.99</p>
      <div>
      <span class="fa fa-lg fa-star checked"></span>
      <span class="fa fa-lg fa-star checked"></span>
      <span class="fa fa-lg fa-star checked"></span>
      <span class="fa fa-lg fa-star"></span>
      <span class="fa fa-lg fa-star"></span>
    </div>
      <p><button class="btn1">Buy Now</button></p>
    </div>
  </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
